  <div id="<%= dom_id country_data_final %>" class="w3-card w3-margin w3-padding w3-light-grey w3-round">
  <div class="w3-container">
    <p>
      <strong>Name:</strong>
      <span class="w3-text-teal"><%= country_data_final.name %></span>
    </p>

    <p>
      <strong>Mobile Phones:</strong>
      <span class="w3-text-teal"><%= country_data_final.mobilephones %></span>
    </p>

    <p>
      <strong>Mortality under 5:</strong>
      <span class="w3-text-teal"><%= country_data_final.mortalityunder5 %></span>
    </p>

    <p>
      <strong>Health Expenditure Per Capita:</strong>
      <span class="w3-text-teal"><%= country_data_final.healthexpenditurepercapita %></span>
    </p>

    <p>
      <strong>Health Expenditure (% GDP):</strong>
      <span class="w3-text-teal"><%= country_data_final.healthexpenditureppercentgdp %></span>
    </p>

    <p>
      <strong>Population:</strong>
      <span class="w3-text-teal"><%= country_data_final.population %></span>
    </p>

    <p>
      <strong>Urban Population:</strong>
      <span class="w3-text-teal"><%= country_data_final.populationurban %></span>
    </p>

    <p>
      <strong>Birth Rate:</strong>
      <span class="w3-text-teal"><%= country_data_final.birthrate %></span>
    </p>

    <p>
      <strong>Life Expectancy:</strong>
      <span class="w3-text-teal"><%= country_data_final.lifeexpectancy %></span>
    </p>

    <p>
      <strong>GDP:</strong>
      <span class="w3-text-teal"><%= country_data_final.gdp %></span>
    </p>
  </div>
</div>